body {
  text-align: center;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
}

.react-logo {
  pointer-events: none;
}

.logo {
  height: 10vmin;
  padding: 20px;
}

main {
  height: 70vh;
  background-color: rgb(255, 167, 224);
  display: flex;
  flex-direction: row;
  justify-items: center;
}

footer {
  display: grid;
  place-items: center;
  height: 100px;
}

.searchBox,
.listBox {
  width: 50%;
  margin-top: 1rem;
}

button {
  font-family: monospace;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid rgb(181, 29, 128);
  color: white;
  background-color: transparent;
  margin-bottom: 1rem;
}

button:focus,
button:hover {
  background-color: rgb(181, 29, 128);
  transform: scale(1.05);
}

input {
  border: none;
  border-bottom: 2px solid rgb(181, 29, 128);
  letter-spacing: 1px;
  padding: 10px 20px;
  font-family: monospace;
  font-size: 20px;
  background-color: transparent;
  outline: none;
}

form {
  margin-bottom: 1rem;
}

.resultBox {
  border-radius: 25px;
  border: 2px solid rgb(181, 29, 128);
  width: 300px;
  margin: 0 auto;
}

.btn-delete {
  padding: 2px 5px;
  border-radius: 2px;
  display: inline;
}

.movie-list {
  display: inline;
  margin: 0;
  margin-right: 15px;
}

.list {
  display: block;
}